[2015-09-22 00:52] madou opened #6 "Active development/Circular dependency isuse"
Hi,

Sorry for the the issue being raised, couldn't see an email to contact you with.

Are you still actively working on the router? Any road map? I'm currently playing around with your WIP and was wondering if you could give me any insight for applying the redux middleware.

When I try to apply it I'm getting a circular dependency error (looks like $http). I'm currently one of my angular projects

[2015-09-22 01:17] wbuchwalter commented on #6
Hey Michael!
Regarding your issues, is there somewhere we can see your code? Most importantly redux's store creation, and how you consume redux-ui-router action.

[2015-09-22 01:28] madou commented on #6
I don't currently have a checked in version for applying the router middleware, but you can however check what I have checked in:

Repository:

Store creation (add in the middleware to see the error if you'd like):
https://github.com/madou/armory-ng/blob/with-redux/client/src/app/app.redux-store.js

[2015-09-22 01:32] madou commented on #6
I don't currently have a checked in version for applying the router middleware, but you can however check what I have checked in (logging redux middleware is turned on):

Repository:
https://github.com/madou/armory-ng/tree/with-redux/

To run:
npm install
bower install
gulp serve

Store creation (add in the router middleware to see the error if you'd like):
https://github.com/madou/armory-ng/blob/

[2015-09-22 02:33] wbuchwalter commented on #6
Hey,
Just to be clear i'm not the author of this project :)

Regarding your issue, here is the problem:
ng-redux depends on the middleware you pass it, the router middleware in this case.
The router middleware depends on `$state`, which in turn depends on things that depends on `$http`.
And finally your [http-auth-interceptor](https://github.com/madou/armory-ng/blob/with-redux/client/src/app/inter

[2015-09-22 02:36] madou commented on #6
Ohh righto. I've run into this before, my mistake. Thanks for having a dig, cheers!

[2015-09-22 02:36] #6 closed

[2015-09-22 02:37] wbuchwalter commented on #6
:+1:

[2015-09-22 14:23] neilff opened #7 "Move repository over to rangle.io"
Once a `README.md` is written

[2015-10-03 13:25] #7 closed

[2015-10-06 19:00] wbuchwalter opened #16 "Unusable without immutable.js"
Hey!
Redux-ui-router is currently pretty much unusable without immutable.js, since querying state.reducer returns an immutable.js data structure.

Since the reducer is very small, it would be quite trivial to implement immutability by convention with _.assign and such, and thus be able to use redux-ui-router without immutable.js.
What do you think?

[2015-10-06 19:06] neilff commented on #16
It is my intention to do this, I'll try to get this done soon, if you want to submit a PR, feel free

[2015-10-06 19:29] neilff opened #17 "reloadOnSearch: false results in the router state not being updated"
Currently we listen to the `$stateChangeSuccess` event which occurs whenever the route changes. We then fire the `STATE_CHANGE_SUCCESS` action type which updates the router state in redux...

Problems arise when `reloadOnSearch` is set to `false`. When this is set, the `$stateChangeSuccess` event no longer fires when a query parameter is added.

This breaks our router state in our redux store, so

[2015-10-06 19:32] neilff commented on #17
@nateabele Wondering if you have any ideas on how to resolve the above problem? If you need some additional context, I can provide an example.

I've tried toying around with listening to `$locationChangeSuccess` instead of `$stateChangeSuccess`, and then grabbing params from $stateParams but noticed that they aren't available when the first `$locationChangeSuccess` event fires.

[2015-10-07 00:44] wbuchwalter commented on #16
Related PR: #18

[2015-10-07 00:46] neilff commented on #16
The PR looks good, I'll take a look at it tomorrow morning and will likely merge it in shortly after, thanks

[2015-10-07 02:13] nateabele commented on #17
The first thing that comes to mind is that you could decorate `$state` and override `transitionTo()` so that you're able to grab the promise it returns and trigger off of that. Not the cleanest thing ever, but it'll do the job.

How is the URL being manipulated? Via `$location`? One thing you could try is using `$urlRouter` to manually sync UI Router with the current URL. (I think `sync()` is the

[2015-10-07 02:52] wbuchwalter commented on #16
:+1:

[2015-10-07 02:54] neilff commented on #17
Awesome, I'll dive back into the code in the morning, thanks for the help, :+1:

[2015-10-14 00:26] dmachat commented on #16
I'm having what appears to be a timing issue between `0.3.3` and `0.4.0` ie the changes described in this thread and #18. On `0.3.3`, router actions and state were behaving properly. After upgrading, there are two issues:

* `action @@reduxUiRouter/$stateChangeStart` get fired twice for ui-router actions.
* The `router` params seem to be a step behind eg on initial load `router.currentParams` is a

[2015-10-14 00:28] neilff commented on #16
@dmachat sure, a plunkr would be helpful, the issue you are describing sounds like what we attempted to resolve in #17

[2015-10-16 17:37] dmachat commented on #16
@neilff sorry, it must be in my app. I created a simpler one to try to isolate, but couldn't recreate the issue. I'll follow up if I do find anything, and also planning to clean up and push the simple version as another example for redux-ui-router. thanks for the lib!

[2015-10-16 18:30] neilff commented on #16
@dmachat no problem, thanks

[2015-10-28 10:33] mlegenhausen opened #21 "State is not correctly set on application startup"
When starting the app in a certain start and press refresh, then the router store does not get correctly initialized. It seems that `$locationChangeSuccess` fires before the `$state` object is set correctly. It always get initialized in the root state which is not correct.

I will try to get the error reproduced with your example.

[2015-10-28 10:45] mlegenhausen commented on #21
Ok it is also in your example (if you can get it running cause of all the missing dependencies). Simply go to `http://localhost:3000` and look at the `currentState` everything is fine. Then refresh the page. You land in the root state instead of the app state.

[2015-10-28 14:19] neilff commented on #21
@mlegenhausen https://github.com/neilff/redux-ui-router/issues/17 is dealing with a similar issue, but looks like there are issues with the initial state. I'll try to take a look into alternative methods of grabbing the initial state. `$urlRouter.sync`doesn't seem to be working.

[2015-10-29 15:04] neilff commented on #21
@mlegenhausen I've updated `master` with a fix for this issue, I'll push a build later today with the fix onto NPM

[2015-10-29 18:04] mlegenhausen commented on #21
Thanks :)

[2015-10-29 20:47] #16 closed

[2015-10-29 20:47] #17 closed

[2015-10-29 20:52] neilff commented on #21
Fix is now published on npm [v0.4.1](https://www.npmjs.com/package/redux-ui-router)

[2015-10-30 11:30] mlegenhausen commented on #21
Your release is broken. The whole `lib` folder is missing.

[2015-10-30 13:39] neilff commented on #21
@mlegenhausen should be fixed now under `0.4.2` sorry about that

[2015-10-30 13:47] neilff commented on #21
Should be OK in `0.4.2`

[2015-10-30 16:43] mlegenhausen commented on #21
Thanks again ;)

[2015-10-31 14:42] sstorie opened #24 "Typescript definitions?"
Has anyone worked on creating a typescript definition file for redux-ui-router? I'm new to writing them, but was gonna try creating one, but if there's something already out there I'd like to use that.

[2015-10-31 15:12] neilff commented on #24
There isn't one, and I don't have plans to make one at the moment, however if you want to make one, I am accepting PRs

[2015-10-31 15:57] sstorie commented on #24
Ok, I'm still learning how to write them for external libraries, but I'll take a shot at it and submit a PR. Thanks!

[2015-11-01 11:45] sstorie commented on #24
I just submitted a PR for the definition file. Thanks for the opportunity to contribute, and if you see any glaring issues please let me know and I'll work to clean them up.

[2015-11-01 11:45] #24 closed

[2015-11-12 10:51] SyedSRahman opened #27 "Interaction with ui-sref directive"
ui-router provides a ui-sref directive to directly trigger a state from inside angular partials. Should I stop using that to transition between states when I use redux-ui-router?

[2015-11-12 15:12] #21 closed

[2015-11-12 15:15] neilff commented on #27
`ui-sref` can still be used, or you can build actions which trigger `STATE_GO` actions. The problem with *not* using `ui-sref` is that you will break browser behaviour (such as right click to open in new tab). You could also build a custom directive that would fire the proper action, but still act as an `<a>` tag as the browser expects.

[2015-11-13 08:39] SyedSRahman commented on #27
Thanks @neilff, that was helpful.

[2015-11-13 08:39] #27 closed

[2015-11-20 15:59] blackxored opened #28 "WARNING: Tried to load angular more than once."
[code]

[2015-11-27 15:31] dheerajvs commented on #28
I'm getting this issue too.
I guess this could happen when you're using a different version of angular than what is mentioned as a peer dependency for redux-ui-router. In my case, I'm using Ionic's version of Angular.

[2015-12-01 21:37] sstorie opened #29 "Typescript errors with current index.d.ts file"
Just wanted to log this to bring awareness to an issue I see now with a PR I submitted recently. I don't think I defined the typings properly in the file as I'm getting errors like the following with the latest version of Typescript and this package:

I'm trying to use SO to help me figure it out:

http://stackoverflow.com/questions/34030542/how-to-create-an-external-module-typescript-definition-f

[2015-12-02 11:17] sstorie commented on #29
Resolved this with pull request 30 - https://github.com/neilff/redux-ui-router/pull/30

[2015-12-02 11:17] #29 closed

[2015-12-02 18:52] neilff commented on #28
Will take a look this week and see what is going on, thanks for the heads up

[2015-12-05 16:26] dheerajvs commented on #28
I resolved the issue by requiring Angular separately instead of using the one [bundled with Ionic](https://github.com/driftyco/ionic/blob/master/release/js/ionic.bundle.js).

[2015-12-23 05:14] vdanchenkov opened #31 "redux-ui-router ignores $urlRouterProvider#deferIntercept behaviour"
UI router have a feature to defer url change listening via $urlRouterProvider#deferIntercept. I use it to setup some $stateChangeStart callbacks before first state transition is fired.

But redux-ui-router forces $urlRouter.sync on every $locationStateChange which triggers state change too early - before I call $urlRouter.listen();

As a workaround I call $rootScope.$on('$locationChangeStart', (ev

[2015-12-24 14:51] neilff commented on #31
Can you provide some code, we might be able to drop the `$urlRouter. sync()`. I haven't used what you mention here before, so I'd like to see some code if possible.

Or even a PR I could test would be nice. :+1:

[2016-01-03 05:37] vdanchenkov commented on #31
@neilff I've edited example to highlight the problem. State4 is prohibited by some reason. In my case state availability is based on authorization check. If you try example app without suggested changes to RouterListener, app will not catch state change when it is opened by direct link http://localhost:3000/#/app/child4

[2016-01-14 12:05] silver2k opened #32 "Router current state seems a step behind on browser back/forward"
Hi,

Not sure what's going on - but I'm seeing weird behaviour when using the browser back/forward buttons. ui-router seems to work fine, but the actions from redux-ui-router seem to be a state behind.

Sorry the log is so hard to read - but the crux is, I created a reducer to watch for `@@reduxUiRouter/$stateChangeSuccess` and log the "I think the current state is:" `action.payload.currentState.n

[2016-01-14 12:25] silver2k commented on #32
Nevermind - suggested fix in https://github.com/neilff/redux-ui-router/issues/31 fixes the issue.
Be great if you could pull it in though.

[2016-01-14 15:39] neilff commented on #31
I looked at the changes, however it breaks `reloadOnSearch` functionality.

I have been using `reloadOnSearch` to push state to the router without having the application reload the controller that corresponds to that state.

An example usage would be, I have a graph, and as I click on the graph, maybe it makes a new query, I want to push that query state to the route (for bookmarking), but I don't

[2016-01-14 15:53] neilff commented on #31
Can you try this branch and see if it resolves the issues you are having? I've removed the url sync from the router listener. #31

[2016-01-14 15:55] neilff commented on #32
Can you check out this branch and inform me if this fixes your specific issue:
https://github.com/neilff/redux-ui-router/tree/remove-url-sync

The problem with the proposed fix is that it breaks `reloadOnSearch` functionality, but I believe this fix will resolve both issues.

[2016-01-14 20:35] silver2k commented on #32
I don't use `reloadOnSearch` in my app at the moment, but I mocked something up to include that as well and it all appears to work correctly. It also seems to be faster - but maybe that's just me.

[2016-01-14 20:38] neilff commented on #32
It's possible that the url sync code was expensive. Thanks, I'll merge this fix in if I get confirmation from the original issue , #31

[2016-01-17 19:51] skimi opened #34 "Pass the event of ui-router in the payloads"
I think it would be useful to pass the event of ui-router in the payloads as to allow `e.preventDefault()`
https://github.com/angular-ui/ui-router/wiki#user-content-state-change-events

It has no place in the store but it can be used by middlewares to stop the transition and check some things and then redirect.

[code]

[2016-01-17 23:53] AOlefirenko opened #35 "Actions are repeated twice during the startup"
Hi! I use angular 1.4.8 and ui-router 0.2.15 and just noticed that both events *@@reduxUiRouter/$stateChangeStart* and *@@reduxUiRouter/$stateChangeSuccess* are repeated twice with the equal payload during startup. It's critical for me coz I use *onEnter* hook to make http request for checking my access token.
When I comment this event handler the target state is loaded only once and it seems all

[2016-01-18 02:02] neilff commented on #35
There is a similar issue currently open, try the PR that is open to resolve that issue, and see if it will resolve the issue you are having: https://github.com/neilff/redux-ui-router/tree/remove-url-sync

[2016-01-18 02:03] neilff commented on #34
I can add it in the next update, or if you want to make a PR I can merge it in.

[2016-01-25 09:21] silver2k commented on #31
I see a few people have had issues with this - but no one (except me) has tested the new branch. What is the plan for releasing the patch?

[2016-01-25 14:33] neilff commented on #31
I'll release it sometime this week when I get some free time

[2016-01-25 18:31] silver2k commented on #31
Awesome, thanks for all your hard work Neil! :-)
On 26/01/2016 3:33 am, "Neil Fenton" <notifications@github.com> wrote:

[2016-01-25 22:26] neilff commented on #35
#33 resolves this issue

[2016-01-25 22:27] #35 closed

[2016-01-25 22:27] neilff commented on #31
#33 fixes this

[2016-01-25 22:27] #31 closed

[2016-02-03 14:48] laurelnaiad opened #37 "loosen dependencies?"
Hi, thanks for making this!

I just installed it via jspm and my installed forks exploded. :(

This is because of the very strict devDependencies in package.json. Could you be convinced to add `^` to the dependencies? it would make the module play more nicely with module resolution strategies such as jspm or even modern npm.

Cheers!

[2016-02-04 22:01] silver2k commented on #32
Embarrassingly - I'm still seeing this issue in the latest version :-( So much for my testing!
The current state of `@@reduxUiRouter/$stateChangeSuccess` still shows the previous state if you navigate by browser forward/back buttons, because the state change is triggered before ui-router applies it.

Changing:
'  $rootScope.$on('$locationChangeSuccess', function () {
    ngUiStateChangeActions.onS

[2016-02-05 19:13] neilff commented on #34
Will be available in next version

[2016-02-12 21:06] mrichard opened #39 "publish es6 source to npm?"
Possible to publish the es6 source to npm?

[2016-02-16 22:24] mrichard commented on #32
I seem to be noticing this as well. When using the browser back button, the router state is one step behind.

[2016-02-17 21:12] silver2k commented on #32
If someone can try removing`$rootScope.$on('$locationChangeSuccess', function () { ngUiStateChangeActions.onStateChangeSuccess(); });` and test everything still works then that might help confirm things. I'm currently using a patched version - and it seems to be working fine, but our use case is pretty limited.

[2016-02-18 00:22] mrichard commented on #32
Quickly tested and this seems to work:

[code]

Thank you! Is this enough a fix to make it in to master?

The only small issue I see is the order of events is switched when using the back/forward keys. stateGo comes after $stateChangeSuccess

[2016-02-18 01:01] neilff commented on #32
Does the initial state of the router get published to the store on application startup (e.g. a hard refresh when on a route?)

[2016-02-18 01:41] silver2k commented on #32
As in does `@@init` contain a populated `router.currentState`? Not for me it doesn't.

[2016-02-21 18:56] Elijen opened #40 "onStateChangeSuccess not returning payload"
onStateChangeSuccess is not returning `payload` the same way as other action creators. This is causing  reducer to return `undefined` and producing the following Redux error:

`Error: Reducer "router" returned undefined handling "@@reduxUiRouter/$stateChangeSuccess". To ignore an action, you must explicitly return the previous state.`

[2016-02-21 18:59] Elijen commented on #40
Seems to be fixed here: https://github.com/neilff/redux-ui-router/blob/c762b1186a445e54a0d38a6cea194774ba947a81/src/router-state-reducer.js

Will leave the issue open until somebody more familiar with the code confirms.

[2016-02-25 14:26] danpantry opened #41 "Intercepting state transitions"
How would we go about intercepting state transitions? In the normal ui-router, you would listen for `$stateChangeStart` on `$rootScope`. Is this still the recommended approach?

[2016-02-25 16:33] neilff commented on #39
Will do in next build

[2016-02-25 16:33] #39 closed

[2016-02-25 16:36] neilff commented on #37
dependencies in `0.5.0` will be:

[code]

[2016-02-25 16:37] neilff commented on #32
that is the issue with using `$stateChangeSuccess` instead of `$locationChangeSuccess` initially, `$locationChangeSuccess` will pick up the initial state of the application, the $stateChangeSuccess will not

[2016-02-25 20:50] neilff commented on #40
The latest publish will contain the above fix, feel free to re-open if the issue arises again, thanks

[2016-02-25 20:50] #40 closed

[2016-02-25 20:51] neilff commented on #37
Fixed in latest release: https://github.com/neilff/redux-ui-router/releases/tag/v0.5.1

[2016-02-25 20:51] #37 closed

[2016-02-25 20:52] neilff commented on #34
https://github.com/neilff/redux-ui-router/releases/tag/v0.5.1

[2016-02-25 20:52] #34 closed

[2016-03-09 06:22] surfjedi opened #44 "problems building and running?"
Im trying to just get the example going and getting the following errors from running "npm start"in the example folder:
ERROR in Loader /Users/leeblazek/Documents/projects/actourex/redux-ui-router/node_modules/babel/index.js didn't return a function
 @ ../src/index.js 17:26-59

ERROR in Loader /Users/leeblazek/Documents/projects/actourex/redux-ui-router/node_modules/babel/index.js didn't return a

[2016-03-09 06:25] surfjedi commented on #44
I also had to add angular and angular ui router to devDependencies(instead of just peerDependencies) in the main package.json to get rid of some other errors.

[2016-03-09 06:25] surfjedi commented on #44
Any ideas?
Thanks in advance

[2016-03-11 00:28] #44 closed

[2016-03-19 15:42] WolfieWerewolf opened #47 "Example is difficult to learn from"
Guys, I think the work you have done here is great.  The example works perfectly and eventually this is going to meet my requirements completely.  I am quite experienced with Angular and ui-router but have absolutely no experience with redux, babel or webpack so I'm finding your example a little difficult to duplicate outside of the redux-ui-router package.  When you link back to the dependencies

[2016-03-20 01:24] dmachat commented on #47
@WolfieWerewolf I put together a standalone sample app that might help. You can check it out [here](https://github.com/dmachat/redux-ui-router-sample)

[2016-04-12 10:35] danielwalczak opened #48 "stateGo() doesn't update currentParams"
I found this issue, when i wanted to change query params in current state.
This action doesn't update params via reducer, because '$stateChangeSuccess' is not trigger.

e.g
Current state is 'Home' and then do stateGo('Home', { filter: 'test' }).

[2016-04-21 19:14] Koleok opened #49 "Suggestions for use with time travel dev tools?"
Out of the box, using the [chrome redux devtools](https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en) with redux-ui-router does not work, but to be fair neither does [ng-redux](https://github.com/wbuchwalter/ng-redux).

I have reconciled this on the ng-redux side by using a hack similar to the one in [their example app](https://github.com/wbuchwalter/ng

[2016-04-26 03:37] Fire-Dragon-DoL commented on #41
You would use http://redux.js.org/docs/api/Store.html#subscribe

[2016-04-26 09:35] #41 closed

[2016-05-02 14:09] lordnox opened #50 "How to use angular-ui-router resolve with redux-ui-router"
I'm currently trying to figure out how to integrate ui-routers resolve mechanic into the redux-state.

[code]

The code above will give me the current state in my app, but will never be re-evaluated. Which makes redux quite useless for using it with ui-router.

I'd like to use the resolve syntax in concert with the component syntax like this:
[code]

I actually did not expect this to work, at leas

[2016-05-25 14:02] neilff commented on #49
The navigation flow would only be one way the way it is currently implemented. You would need to likely rewrite the middleware.

I think you could subscribe to changes to the current route definition inside Redux and check to see each time it changes if it actually matches the real route... then you could have it sync up the routes if they are misaligned. Would probably need a bit more work than t

[2016-07-12 12:37] michalpanek opened #55 "`redux-ui-router@0.5.2 requires a peer of angular-ui-router@^0.3.0"
I have warn from npm:

`redux-ui-router@0.5.2 requires a peer of angular-ui-router@^0.3.0 but none was installed.`

after I have installed ui-router in version: 1.0.0-alpha.3. Is that a way to deliver proper version of ui-router to redux-ui-router ?

[2016-07-18 19:30] JesterXL commented on #48
I'm having the same problem. In my old code, it'd be something like [here](https://github.com/angular-ui/ui-router/issues/1758#issuecomment-230806749) where I use the `$state.go`'s promise to access the `$stateParams` after the the then. Here, however, I don't really have a then to access using Redux, and a bunch of logs confirm they never update anyway.

Will report back if I find a hackaround.

[2016-07-18 20:19] JesterXL commented on #48
If I comment out the `unsubcribeStateChangeListener` method on line #19 of `router-listener.js`, the `$locationChange` event continues to fire and appears to correctly update the store now. Not sure of adverse effects yet.

[2016-07-21 02:14] matt328 opened #61 "angular-ui-router@1.0.0-beta.1 Compatibility"
Should redux-ui-router@0.5.2 be compatible with angular-ui-router@1.0.0-beta.1?  I'm seeing a few issues, the router.currentState in the redux state never updates from what it is initially, and also it seems forward and back buttons and typing in a hash fragment doesn't do anything at all.

I would like to be able to use the new version of UI Router since it supports components instead templates a

[2016-07-21 04:04] hally9k commented on #61
0.5.2 doesn't support for angular-ui-router@1.0.0-beta.1 by the looks of things. I might have a look at this over the weekend but no promises. Feel free to submit a PR :smile:

[2016-07-21 14:58] matt328 commented on #61
It looks like ui-router completely replaced state events with a transitions service.  They provide an optional ng1_state_events module that will probably serve as a workaround until you are ready to drop support for ui-router < 1.0.0.

[2016-07-21 20:56] alejandroSuch commented on #50
Have the same question. How did you finally manage this? I'm resolving some data on my controller's constructor, but I need some other elements to be resolved before to decide a redirection

[2016-07-22 06:41] lordnox commented on #50
I'm still working on it...
[code]

I let ui router create the 2 functions, mapState and mapDispatch. This will be mapped on a state to state basis to a controller, usually you'll only need the default controller.

[2016-07-23 23:06] matt328 commented on #49
I am new to the whole flux/redux thing, so it's possible I'm misunderstanding something, but what is the advantage of storing routing information in the redux state if the application does not route or unroute when the state changes?

[2016-07-23 23:17] hally9k commented on #49
I'm not entirely sure I understand your question but here goes... The app doesn't necessarily have to route when part of the state changes that doesn't need to be expressed in the route. That said the routing state of the app is an important part of the app state and in Redux all app state resides in a central store. Here are some awesome [videos by the creator of redux](https://egghead.io/courses

[2016-07-24 01:27] matt328 commented on #49
Initially I guess I was looking for time travel support in my routing state similar to what this https://github.com/reactjs/react-router-redux project provides for react and react-router, and was questioning why redux-ui-router wasn't designed to provide that functionality.

If you don't get time travel dev tool support by having redux keep your router state then why is using redux (for router sta

[2016-07-24 19:19] hally9k commented on #48
@JesterXL @danielwalczak  I think this is fixed in the new version (0.6.0). At least I cant reproduce it in the example on my end. If you want to have a jam and see if it's working for your cases that would be awesome.

[2016-07-26 23:03] Koleok commented on #49
@matt328 you should take a look at [`ng-component-redux`](https://github.com/bcarroll22/ng-component-redux) by my buddy [@bcarroll22](https://github.com/bcarroll22)

[2016-07-26 23:28] Koleok commented on #49
To be clear, his package does not propose to solve this problem, but it ports over some very useful concepts from the react-redux world, and i think some continuation down this path could yield a solution to the router/time-travel problem

[2016-07-26 23:54] Koleok commented on #49
[`redux-tiny-router`](https://github.com/Agamennon/redux-tiny-router) might be something worth looking into also

[2016-07-27 13:17] markisadesignerd opened #62 "stateChangeStart action creator doesn't include final options argument"
UI-Router passes the [`options` Object](http://angular-ui.github.io/ui-router/site/#/api/ui.router.state.$state#methods_go) to its `$stateChangeStart` handler. The redux implementation just [drops it from the action creator](https://github.com/neilff/redux-ui-router/blob/master/src/state-change-start.js#L16). The `options` Object can be useful for middlewares.

Here's the ui-router implementation:

[2016-08-08 12:28] michalpanek opened #65 "How to use $stateParams in resolve from state ui-router configuration ?"
I have state configuration like that:

[code]

and what can I use that configuration, resolve $stateParams etc. when I use **stateGo** with redux-ui-router ?

When I use **_stateGo_** like above then I get error:

    at routerStateReducer (router-state-reducer.js:32)
    at combination (combineReducers.js:117)
    at dispatch (createStore.js:179)

------------
what this info is not exist in redux

[2016-08-09 20:02] hally9k commented on #65
[This issue](https://github.com/neilff/redux-ui-router/issues/50) is in the same vein... Resolves are not supported yet as far as I know.

[2016-09-06 21:36] hally9k commented on #61
@matt328 You should be all set now thanks to this PR: https://github.com/neilff/redux-ui-router/pull/64 I'm going to leave this open for comment on the upgrade to 1.0 beta for now. Keen to hear your feedback.

[2016-09-07 00:38] Nighthawk14 commented on #61
Hey @hally9k testing right now, it seems that the params issue is fixed. But there seems to be an issue when you refresh a page with a params e.g. `/foo/1` (where `1` is `/:id`) the param is not propagated after refresh and the properties `fromParams` and `toParams` of the `onStart` and `onSuccess` actions don't contain it.

ps: I tried with and without html5location enabled
ps2: I tried serving t

[2016-09-07 00:56] hally9k commented on #61
Hi, nice one for finding this! If you want to document your findings in an issue I'll have a jam as well and between us we'll see if we cant muster a PR to fix this!

[2016-09-07 01:01] Nighthawk14 opened #66 "Losing state params when refreshing the page"
Hi,

Testing the new ui-router 1.0.0-beta.1 compatibility #61, it occurs that when you refresh a page the state params are not propagated to the state in the store (e.g `/foo/1` where `/1` is `/:id` will results in `/foo/undefined` after refreshing the page and is not part of the properties `fromParams` and `toParams` of the `onStart` and `onSuccess` actions).

Trying to find out if it's an issue

[2016-09-07 01:22] Nighthawk14 commented on #66
After a bit of investigation, it appears that the param is actually propagated to the state in the store but later than before. So let's say your state has a controller, you expect the param to be already present at instantiation of your controller. With the current redux-ui-router and ui-router this happens. When with the new redux-ui-router and ui-router1.0.0-beta.1 the param is populated to the

[2016-09-07 01:31] hally9k commented on #66
If you want to submit a PR I can merge it in ASAP. Otherwise, with your awesome direction here, I should be able to patch this a bit later today.

[2016-09-07 03:11] Nighthawk14 commented on #66
Haha no worries, I checked a bit further but then I had a meeting... I want to create a plunker first with ui-router to make sure we can make it. I can actually see in the `treeChanges` the param populated in the `onStart` hook, but I don't see what is wrong with using `to().params` in this hook, that seems to be the right thing to do :).

[2016-09-07 18:35] #66 closed

[2016-09-07 23:39] Nighthawk14 commented on #66
Hey @hally9k, I'm testing with the new version this morning and it appears that the issue is still there. It's definitely better because now we have the right params in the `toParams` property of the `onStart` action so that's cool. The problem is that we update the store only on `onSuccess` but this action occurs after the instantiation of the state and it's controller, so we still don't have the

[2016-09-15 18:49] hally9k commented on #61
This upgrade broke the previous params, there are getting set to the current params... I will submit a PR shortly. It would be cool if someone other than myself had a little look at it?

[2016-09-15 19:23] hally9k commented on #61
Here you go... Totally open o comment, didn't feel entirely clean tbh... :https://github.com/neilff/redux-ui-router/pull/68

[2016-09-15 20:01] hally9k commented on #32
This seems to be fixed by https://github.com/neilff/redux-ui-router/pull/68

[2016-09-15 20:01] #32 closed

[2016-09-15 20:02] hally9k commented on #47
This a totally valid point... I might well have a little look at this soon. I'll start by checking out your sample @dmachat ... Nice one! 👍

[2016-09-15 20:03] #48 closed

[2016-09-15 20:05] #65 closed

[2016-09-18 22:18] xlozinguez commented on #47
I agree with @WolfieWerewolf, I am struggling with how to use the router action such as `stateGo` when clicking on a given list items.
I have been over your sample app @dmachat and it does not really reflect that use case.

I'm going to keep digging until I manage to make it work. It would be beneficial to have a standalone example addressing the common list + detail use case @hally9k.

Once I fig

[2016-09-18 22:20] xlozinguez commented on #28
This happened to me, the reason was that I was loading the app both with `ng-app="app"` specified on the body tag and using the `angular.bootstrap` method in the index.js file (or whatever your main app file is.

[2016-09-18 23:43] hally9k commented on #47
Hi @xlozinguez, can you explain what you mean when you say 'the common list + detail use case'? The redux-ui-router just provides actions for each ui-router transition so you can trigger a transition by dispatching the appropriate action. In the example if you look at the app.child1 state's template on line 83 you can see `ng-click="stateGo('app.child2')"`. This is the click event directly calling

[2016-09-19 16:46] xlozinguez commented on #47
@hally9k sure, I was referring to the example such as https://ui-router.github.io/tutorial/ng1/hellosolarsystem for instance.
I guess the place I am confused is how to handle the data fetch when performing the routing. Should it be part of the route's resolve or should it be handled in the object initialization?

Hope this help narrowing down my question...

[2016-09-19 21:34] hally9k commented on #47
@xlozinguez, sure. When you say 'data fetch' you are referring to an asynchronous call, correct? With the example you linked to it makes the asynchronous call in the resolve of the router state. With redux we push all the non pure functionality into actions, AJAX calls are I/O and therefore impure so in the resolve we must call an action. Enter [Thunk](https://github.com/gaearon/redux-thunk)! When

[2016-09-19 22:16] #61 closed

[2016-09-19 22:19] hally9k commented on #50
There is an example of how I am using resolves with redux-ui-router in an answer to [this issue here](https://github.com/neilff/redux-ui-router/issues/47). I am currently working on a clearer example app which will include an example of a thunk returning a promise to a state resolve like this.

[2016-09-19 22:20] #50 closed

[2016-09-19 23:04] hally9k commented on #62
Pushed a patch to fix this [here](https://github.com/neilff/redux-ui-router/commit/994b8d0244a96098582fe9a692cd2966e0e68026)

[2016-09-19 23:04] #62 closed

[2016-09-20 09:22] etsrepo opened #69 "Unable to run via npm dependency but working if I copy files directly"
I dont know what messing in my configuration of structure but If I install as npm dependency its not its not triggering when states changes.

but if I copy this projects files its working properly.

I'm tried with your example also bahavior is same.

I can't post my code so attaching images

working one (redux-router is close of this repo)
![image](https://cloud.githubusercontent.com/assets/317216

[2016-09-20 09:35] etsrepo commented on #69
I'm using 0.6.0 version from npm... will 0.6.1 solve this issue ?? anyhow its not published yet

[2016-09-20 18:03] hally9k commented on #69
Hi @etsrepo, Which version of ui-router have you got installed?

[2016-09-21 03:01] #69 closed

[2016-09-21 03:02] hally9k commented on #69
Unable to reproduce this end so I've closed this for now. Feel free to pick it back up at any time.

[2016-09-21 05:29] etsrepo commented on #69
[code]

[2016-09-21 07:43] hally9k commented on #69
@etsrepo - The version 0.6.0 doesn't have support for angular-ui-router 1.0 beta. The current state of master, which is marked 0.6.1, will be released as 0.7.0 because it brings support for angular-ui-router 1.0 but we won't release this until angular-ui-router 1.0 comes out of beta, I expect. If you roll back your angular-ui-router version to 0.3.1 then redux-ui-router 0.6.0 will work for you. So

[2016-09-21 07:47] #55 closed

[2016-09-22 11:49] sfthomas opened #71 "UI-Router $resolve"
I tried to find any resources on how to access the resolved data for ui-router states in a redux-way.
It is still possible to get hold of those by injecting into the controller/binding to a component, but the best would be if they were available in the redux store.
Is there any way to do/support this?

[2016-09-23 14:49] xlozinguez commented on #47
@hally9k thanks for taking the time to respond, for some reason I missed that post... I knew I was missing something about `thunk` (sorry I'm digging into redux + rxjs and I'm getting all over the place :P)
I will apply what you just describe and let you know. For reference, here's the project I'm playing with, maybe it can help you with your example? https://github.com/xlozinguez/compoc

[2016-09-23 14:51] xlozinguez commented on #47
Actually, after reading further your example, it seems that it's a job that RxJS would handle for me with the observables... so I'm on the right track (see my redux-rx branch - still WiP :) )

Thanks again!

[2016-09-23 23:59] hally9k commented on #47
Oh cool, I'll definitely have a look at this. Haven't had a chance to really jam with RxJS yet. Let you know what I think... 😄

[2016-09-25 07:51] hally9k commented on #71
I'm not entirely sure I understand your issue. Would you mind expanding on your explanation a little bit? There is an example on [this issue](https://github.com/neilff/redux-ui-router/issues/47) that addresses resolves. Is this helpful?

[2016-09-27 13:22] sfthomas commented on #71
Yes, I think it helps - I shall try to adjust my code according to that example.
Apologies for not finding that myself.

[2016-09-27 18:39] hally9k commented on #71
No worries ;)

[2016-09-27 18:39] #71 closed

[2016-10-03 17:58] rshackleton commented on #47
I have used an example more akin to the "real world" Redux example (https://github.com/reactjs/redux/tree/master/examples/real-world) where an action is dispatched and then handled by an API middleware. This means that I have no promise to return for the resolve call.

I was considering dispatching an action to store a promise and then mark the promise as resolved after the middleware has dispatch

[2016-10-11 17:37] xlozinguez opened #72 "Getting ` Cannot convert undefined or null to object` when adding router to combineReducers"
Hey there,

I'm getting the following when adding the router to my redux store:

[code]

For some context, it was working fine and then I hooked up [redux-observables](https://github.com/redux-observable/redux-observable) which leverages its own [middleware](https://github.com/redux-observable/redux-observable/blob/master/docs/basics/SettingUpTheMiddleware.md)

Note that the router params is corre

[2016-10-11 22:37] xlozinguez commented on #72
Update: Not sure if that's the prettiest way but I ended up creating an epic around the `@@reduxUiRouter/$stateChangeStart` action to handle fetching the page resources: [this way](https://github.com/axialmarket/axial-stockObservr/blob/master/client/src/common/epics/routes.epics.js) ...

Unfortunately, since the `$stateChangeSuccess`action doesn't provide the corresponding state params, I had to u

[2016-10-12 05:48] etsrepo opened #73 "error redux-ui-router@0.6.0: The engine "node" is incompatible with this module. Expected version "6.3.0"."
error redux-ui-router@0.6.0: The engine "node" is incompatible with this module. Expected version "6.3.0".

[2016-10-20 22:37] xlozinguez opened #74 "$stateChange* events are deprecated in upcoming angular-ui-router 1.0.0"
While digging into routing, I realized the upcoming update of angular-ui-router is deprecating $stateChange events: https://github.com/angular-ui/ui-router/issues/2219

Instead, the following is recommended:

[code]

However a solution is proposed [here](https://github.com/angular-ui/ui-router/issues/2655) but I was wondering if there should be any adjustment to redux-ui-router as a consequence?

[2016-10-21 14:05] tomzmtl commented on #74
By doing a quick search on the source code, current version is indeed quite reliant on $stateChange* events. Not sure how straightforward the upgrade would be.

[2016-11-08 23:01] Nighthawk14 commented on #74
You can find more support for ui-router 1.0.x on this branch https://github.com/neilff/redux-ui-router/tree/prev-state-fix. Not sure if it's working correctly though, last time I tested it wasn't.

[2016-11-08 23:36] Nighthawk14 opened #76 "Current params update occurring too late with ui-router 1.x"
Hey @hally9k, I think to finish the compatibility with ui-router 1.x we still missing a small piece.

As now the flow of transition has changed, the `onSuccess` transition is happening after the instantiation of the component controller. So we actually need to update the `currentParams` object on the state before that. There is couple of solutions:

1. Use the `onFinish` instead of `onSuccess` as

[2016-11-09 13:53] qdamian opened #77 "No license"
Hi, could you please add a license file? So that it's clear if and how the library can be used in other projects.
Thanks!

[2016-11-10 17:28] #73 closed

[2016-11-11 20:49] hally9k commented on #77
License add in https://github.com/neilff/redux-ui-router/pull/79

[2016-11-11 20:49] #77 closed

[2016-11-13 23:53] Nighthawk14 commented on #76
Fixed by #78

[2016-11-13 23:53] #76 closed

[2016-11-13 23:54] Nighthawk14 commented on #74
Fixed by #78

[2016-12-01 07:46] jbadeau commented on #74
Will there be a release soon for 0.7.0?

[2016-12-02 02:43] jhummel commented on #74
Just ran into this myself. I was confused that master was showing things have already been upgraded to work with the new $transitions callbacks. Wasn't until I went digging around my node_modules, I realized NPM had an old version. Any news when there will be a release?

[2016-12-14 20:17] hdjirdeh commented on #72
Was seeing the same issue but then realized that I forgot to include `thunk` and the appropriate middleware when creating the store, that solved the problem :)

    $ngReduxProvider.createStoreWith(
        reducer,
        ['ngUiRouterMiddleware', thunk, Logger]
      );

[2016-12-18 12:04] zalishchuk opened #84 "The engine "node" is incompatible with this module."
Can you please publish the latest version to npm? The current latest on npm is 0.6.0, the Github one is 0.6.1.

My Node version is v7.2.1.

[code]

[2017-01-19 15:23] graingert commented on #84
@hally9k @neilff can we get a new npm release?

[2017-01-19 15:23] graingert commented on #84
we could all move to https://www.npmjs.com/package/hally9k-redux-ui-router

[2017-01-27 18:20] McAllaster commented on #84
This has been a problem for over a month. Could we get an updated release, it should be fixed on the master branch as per [this commit](https://github.com/neilff/redux-ui-router/commit/ba8d270a97a39d409bc11495e56177ebf7e61bae).

[2017-01-27 18:22] zalishchuk commented on #84
@McAllaster I think this project is abandoned by its contributors

[2017-01-31 04:09] frankandrobot opened #85 "Plays nice with hybrid app?"
Right now our app is a hybrid legacy Angular app and more modern Angular components + ngRedux. That is, parts of the app still use the old way of tracking state and parts of the app keep state in redux. So my question is... is it OK for part of the app to sync router state using the redux bindings and part of the app to use $state? If not, is there a way to manually sync the redux state?

[2017-02-16 00:53] kunyan commented on #84
@neilff @hally9k  Please at least release 0.6.1 to fix the node engine check

[2017-02-20 09:18] hally9k commented on #84
Hello all,

I have been swamped with a new position I started this year. I will get
this repo up to speed and push new packages tomorrow morning. Apologies and
thanks for everyone's patience.
Hal

On Thu, 16 Feb 2017 at 1:53 PM, Kun Yan <notifications@github.com> wrote:

[2017-02-20 17:25] hally9k commented on #85
When you say modern Angular components you are referring to Angular 1.5+ components, correct?

[2017-02-20 19:09] #85 closed

[2017-02-20 19:11] hally9k commented on #84
0.6.1 release fixes this now.

[2017-02-20 19:11] #84 closed

[2017-02-20 19:12] hally9k commented on #72
@xlozinguez did adding the thunk middleware fix this for you aswell?

[2017-02-20 19:14] hally9k commented on #74
@jhummel There is now a 0.6.1 release and a 0.7.1-rc.1 with support for ui-router 1.0.0. Please have a jam and see if it solves you issues...

[2017-02-20 21:16] graingert commented on #84
Neato

On 20 Feb 2017 19:11, "hally9k" <notifications@github.com> wrote:

[2017-03-28 18:49] phil-lgr commented on #74
Thank you so much for this lib, example is minimal and clear, I am learning Redux and it helped a lot. In a typical angularjs application, your state is _usually_ stored in services, controllers (scopes), router states.. it can get messy **real** fast..

Even if you isolate all side effects to a single place (rootscope or a dedicated state service) it's decoupled from ui-router, big problem solved

[2017-04-06 14:14] mischkl opened #87 "Make Angular-independent"
Hello,

we have a hybrid NG1/NG2+ app but I guess this would be useful for people possibly migrating from NG1 to React or other frameworks:

It would be cool if this provided a framework-independent connection between UI Router Core v1.0 and vanilla Redux. That way it could be used equally well from either Angular 1 or Angular 2, and would serve as a helpful integration tool for hybrid projects su

[2017-04-06 21:22] hally9k commented on #87
Hi @mischkl,

I totally agree, this would be a great progression for redux-ui-router. When I get a chance I will have a look at the feasibility of that evolution. I would like to have a second pair of eyes through the process, would you have time to jam with me on this?

@neilff do you have an opinion?

[2017-04-07 12:01] mischkl commented on #87
Hi @hally9k and @neilff,

I'd be more than happy to provide a second pair of eyes and potentially contribute in any way. :)

[2017-04-29 00:23] hally9k commented on #72
@xlozinguez - closing but feel free to reopen if you still have this issue.

[2017-04-29 00:23] #72 closed

[2017-04-29 00:24] #74 closed

[2017-05-01 20:22] jongunter commented on #28
This happens to me, too. I'm embedding this library from a `<script>` tag rather than using module loader like webpack (legacy .NET environment..lol).  It seems as though the entire angular library is accidentally bundled in `/dist/redux-ui-router.js`.

[2017-05-02 00:45] hally9k commented on #28
@jongunter I have just released new version with fixed bundles that should fix your issue. Let me know if it fixes your issue or not.

[2017-05-08 22:33] jongunter commented on #28
Thanks for getting that fixed. I'm now getting the following error, unfortunately:
[code]

[2017-05-17 06:40] ondrasak opened #90 "Add ability to import the constants of the action-types"
Would be great to have ability to import the constants of the action-types .

**Use case:**
I want to listen on some action and perform side-effect
now I need to hardcode the name of the action

[2017-05-17 07:21] hally9k commented on #90
@ondrasak I'm not sure that I fully understand your proposal. Could explain it in a bit more detail?

[2017-05-17 10:07] ondrasak commented on #90
let say I want the behaviour:
When route/state is changed -> close side navigation

so in some redux-middleware (i my case redux-observable) -> I will check all action if their type is equal to '@@reduxUiRouter/$stateChangeStart' -> if YES then perform desired action

so I need to get somehow the string "@@reduxUiRouter/$stateChangeStart"

would be great to have ability to import that constant
[co

[2017-05-20 22:25] hally9k commented on #90
I understand now. As opposed to maintaining those constants externally. I may get round to this in a week or so but open to a PR in the meantime 👍

[2017-05-29 01:33] mattdarveniza opened #92 "State params are not accessible through redux in resolve blocks"
I've got the fairly common pattern of calling some data loading actions in the resolve block of my routes, however these actions rely on the ui-router state parameters already being defined.

It seems that the router actions that set the state params are dispatched after the resolve block. Is there a way to access those parameters in the resolve outside of injecting `$stateParams` in directly?

[2017-06-01 20:24] skortchmark9 commented on #28
Same issue here.

[2017-06-01 21:05] skortchmark9 commented on #28
Figured it out, ui router started shipping stuff as an npm org and they changed their namespace. The bundled code is looking for ```angular-ui-router``` on the window. This fixes it:
[code]

[2017-06-17 01:31] kaidjohnson commented on #92
I believe this is a timing issue from when the store gets updated. Currently, the store is updated `onFinish`, but resolve happens during the `onEnter` phase, from what I can tell. When I switch the `onFinish` hook to `onEnter`, then I am able to access the correct currentParams in my resolve blocks.

Is there a reason why the store gets stored `onFinish` rather than earlier, such as during `onEnt

[2017-06-18 20:20] hally9k commented on #28
@skortchmark9 Just to clarify, when you say the bundled code you mean the redux-ui-router bundle? I'm trying to reproduce this on my end, could you give an example or some further detail?

[2017-06-18 20:22] hally9k commented on #92
@kaidjohnson Not off the top of my head. I would be keen to see a PR to fix this if anyone has a spare moment. I'll try and have a little look.

[2017-06-20 02:04] skortchmark9 commented on #28
Yep that's right. So for me that's
[code]

[2017-06-23 21:14] hally9k commented on #28
I dont use the bundle, it's quite a new addition and admittedly It should probably have some testing wrapped around it... @kaidjohnson what's your take on this? Is the bundle 'sketchy'??

[2017-06-24 12:54] kaidjohnson commented on #28
@skortchmark9 it sounds like you're bundling redux-ui-router from the window object rather than including it in your bundle through import or require. My team just implemented UI Router (1.0.4) and Redux UI Router (0.7.1) via `<script>` tags without issue. Not sure you need to hand off `window['@uirouter/angular.js']` like that. I get the sense that this is the bit that you're finding sketchy? The

[2017-06-24 23:21] skortchmark9 commented on #28
I'm not bundling my app, I am referring to the bundle in the published npm package for this repo: ```node_modules/redux-ui-router/dist/redux-ui-router.js```.
It's currently 12k lines unminified:
[code]
And contains lines like:
[code]
*That's* what I was saying is sketchy, since stuff like that should be in ui router's bundle, not ```redux-ui-router```'s

I was under the impression that when buildi

[2017-06-25 00:20] kaidjohnson commented on #28
Thanks for the clarification. I see what you mean. We did remove angular core from the redux-ui-router bundle, but I guess ui-router core is still in there. Looking at the code, I realize I had accounted for `angular-ui-router`, but the ui-router namespace change didn't propagate to the webpack config. This should be a simple fix. Putting together a PR now...

[2017-06-25 00:45] kaidjohnson commented on #28
The redux-ui-router unminified is back down to ~2000 lines, and no longer contains these two dependency libraries within it. They will need to be provided separately.

This config worked for us with these updates:

[code]

[code]

@skortchmark9 good catch! And thanks again for the clarification!

[2017-06-25 22:19] hally9k commented on #28
v0.7.2 released. Closing for now.

[2017-06-25 22:19] #28 closed

[2017-09-29 21:41] skortchmark9 commented on #90
Yes, agreed I have to redefine the ui router constants in my app.

[2017-10-12 07:21] skortchmark9 commented on #90
Actually, a slightly more stable hack than defining them yourselves is to use the action creators:
[code]

[2017-10-12 07:37] skortchmark9 commented on #90
Incidentally, you might want to change your namespacing - it breaks https://github.com/wix/redux-saga-tester/blob/master/src/SagaTester.js#L45

[2017-10-27 07:21] NtwariJoshua commented on #47
@hally9k about the clear exmple you mentioned have you had some time to work it out! the above seems not to be working for me. thanks

[2018-04-21 21:59] aziz opened #96 "deleted"
deleted

[2018-05-04 00:15] #96 closed

[2018-06-28 17:03] pedrocalderon opened #98 "Problem using redux-ui-router with redux-devtools-extension"
Hello,

I'm having problems to use the redux-ui-router with ng-redux and the redux-devtools-extention. The devtools extension wraps the action with a 'PERFORM_ACTION' action. This breaks the redux-ui-router middleware.

I've made a quick fix, coping the middleware to my program and unwrap the 'PERFORM_ACTION' when necessary. I'd be happy to make a PR with this fix, but I think I may be doing somet

[2018-07-05 17:16] pedrocalderon commented on #98
Sory this was a bug with ng-redux [described here](https://github.com/angular-redux/ng-redux/issues/196).

[2018-07-05 17:16] #98 closed

[2018-07-24 07:17] pbharatkumar opened #101 "Tried to load AngularJS more than once."
When i migration the code from angularjs to angular 5  i got this error
Tried to load AngularJS more than once.

Please help me.

[2018-09-19 17:51] Millsky opened #102 "Allow middleware to be exportable"
When trying to use a separate store with `ng-redux`, it is not possible to use this package unless you manually import the router-middleware.

This (`routerMiddleware`) should be exported from `redux-ui-router` main index file, so it it more easily compilable by webpack / babel.

The $state service can be manually injected, by using a proxy $injector on the DOM.

[code]

[2019-03-12 15:20] dcogswell commented on #102
+1

[2021-05-12 02:18] #92 closed